@import 'tailwindcss';
@import '@uiw/react-md-editor/markdown-editor.css';
@import '@uiw/react-markdown-preview/markdown.css';
@import './md-editor.css';
@plugin "@tailwindcss/typography";

@theme inline {
  --font-ubuntu: var(--font-ubuntu);
}

@layer components {
  a:hover,
  button:hover {
    @apply text-white underline duration-200;
  }

  .prose :not(pre) > code::before,
  .prose :not(pre) > code::after,
  .prose-invert :not(pre) > code::before,
  .prose-invert :not(pre) > code::after {
    content: none !important;
  }
}
